In [12]:
#IMMUTABLE

#string
"this is a string"
'this is also a string'

#numbers
6 #int
5.0000 #float (ing point integer)
True + False #bool

#Complex data types

#tuple
("a", "b", 1)

("a", "b", "one")


#MUTABLE
#list
#0 indexed
["eggs", 'milkzzzzzz', 20, "eggs"]

#dictionary

{"word": "definition of my word 2", "more words": "more definitions", 20: 21}

#set 
{"words", "more wordsssssss"}

#variables
variable = 'whatever'

<class 'float'>

2

In [ ]:
42  #Integer, immutable

"Hello, world!" #String immutable

3.14159 #Float immutable

True #boolean Immutable

[1, 2, 3, 4, 5] #list mutable

("apple", "banana", "cherry") #tuple immutable


{"name": "Alice", "age": 25} #dictionary mutable

In [26]:
mood_dictionary = {}

#defined new keys
mood_dictionary['nemo'] = 'okay'
mood_dictionary['fae'] = 'tired, terrible, i dont know'
mood_dictionary['BIG RAFA'] = "super chad"

#overwritten a previous key
mood_dictionary['BIG RAFA'] = "trash :("

print(mood_dictionary)

{'nemo': 'okay', 'fae': 'tired, terrible, i dont know', 'BIG RAFA': 'trash :('}

In [32]:
other_dictionary = {}

key = input("What is your key? >")
value = input("What is your value? >")

other_dictionary[key] = value

other_dictionary

What is your key? > water
What is your value? > wet

{'water': 'wet'}

In [50]:
user = {}

name = input("What is your name? >")
age = input('What is your age? >')
hobby = input('What is your hobby? >')

user['name'] = name
user['age'] = age
user['hobby'] = hobby

user

What is your name? > fae
What is your age? > 8
What is your hobby? > hydrophilic

{'name': 'fae', 'age': '8', 'hobby': 'hydrophilic'}

In [58]:
print(user['name'])
print(user['age'])
print(user['hobby'])

fae
8
hydrophilic

In [62]:
print(f"My name is {user['name']}, my age is {user['age']}, my hobby is {user['hobby']}")

My name is fae, my age is 8, my hobby is hydrophilic

In [76]:
def add(arg1, arg2):
    result = arg1 + arg2

    return (arg1, arg2)

add(2, 3)

(2, 3)

In [86]:
#Funvtions and arguments
def f1(one = 1, two = 1):
    return two, one


a = 5
b = 7

a, b = f1(a, b)

print("a:", a, "b:", b)

a: 7 b: 5

In [88]:
c, d = f1()

print("c:", c, "d:", d)

c: 1 d: 1

In [90]:

#Varying variables
a, b, c = 8, 16, 24
a, b, c = c, a + 2, b - 4
b = b * 2
c = a - b
print(a, b, c)

24 20 4

In [106]:
import random

def thanos(lst):
    rand = random.choice(lst)
    lst.remove(rand)

    print(f"{rand} got snapped!")
    print(lst)
    return lst

classroom = ['xav', 'fae']

thanos(classroom)

xav got snapped!
['fae']

['fae']