# Introduction to Python and Computational Thinking

* Basic Python syntax
* Variables and Functions
* Control flow

### About Python

#### A little history:
Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace.

#### Some reasons to learn Python:
* Straightforward syntax makes it beginner-friendly
* Same code runs on multiple platforms
* Extensive libraries: Python is very commonly used in applications ranging from physical sciences to finance to machine learning
* Large community: abundant resources are available online
* It really is EVERYWHERE

#### Some cons that you may hear about Python:
* (Potentially) Slower than compiled languages
* Higher memory consumption
* Some issues with multithreading

![](image.png)
Image taken from: https://statisticstimes.com/tech/top-computer-languages.php

### Basic Python
#### Python Syntax

Python is designed so that there really isn't that much to learn in the basic language. Python code can be executed by writing directly in a code cell using Jupyter or by creating a python file on the server, using the .py file extension, and running it in the Command Line. For now, all our code will be run inside the notebook cells.

#### Example of code cell below:

# Session 1

In [3]:
# The print function lets your program give you an output

print("Hello World!")

Hello World!

In [ ]:
print("Hello, my name is asen")
print("I am 1 year old")
print("I like to do math")

Hello, my name is asen
I am 1 year old
I like to do math

In [6]:
print("Hello, my name is asen \nI am 1 year old \nI like to do math")

Hello, my name is asen
I am 1 year old
I like to do math

In [9]:
# This is a comment
# You can see the # sign before the lines
# print(this is a comment)

print("This is not a comment!")

This is not a comment!

Longer comments can be sandwhiched between triple double quotes

In [10]:
"""
print("this is also a comment)
"""

'\nprint("this is also a comment)\n'

### Variables

Variables are used to store and manipulate information in a computer program. They can be thought of as containers that carry data and their sole purpose is to label and store data in memory. Variables have names chosen in a way to make the code more understandable to the reader.

In Python, there is no command for declaring a variable. Instead, variables are initialized the moment a value is assigned to them.

In [14]:
var_1 = 2
var_2 = 7

var_3 = var_1 + var_2

print(var_3)

9

In [21]:
name = "Jolie"
age = "2"
hobby = "drinking Coca-Cola"

print(f"My name is {name}")

My name is Jolie

In [ ]:
food = input("What is your favorite food? >")

print(food)

pasta


Variables can have different *types*. In Python, there are five main type categories:

* Number
* String
* Tuple
* List
* Dictionary

Some of the categories can contain more than one type. For example, Number can be an integer or a floating point number or a boolean. We will learn more about them as we go along. The important point here is that when performing operations on variables, make sure these operations are defined for the particular type. That is, do not try to subtract an integer from a string.

In [22]:
my_str = "5" # This is a string
my_int = 2 # This is an integer

res = my_str - my_int

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Numbers are further broken down into 3 categories:

Integers ```Int```: Whole numbers (1, 2, 3)

Floating Point ```Float```: Decimals (1.12, 3.00)

Booleans ```Bool```: True/False or 1/0

In [29]:
True + 1 + 2 + False + 500

504

### Arithmetic Operators

These are used for basic math:

In [ ]:
x = 10
y = 3

# Standard operations
print(x + y) # Addition - 13
print(x - y) # Subtraction - 7
print(x * y) # Multiplication - 30
print(x / y) # Division - 3.333...

# More complex operations
print(x // y) # Floor division (no remainder) - 3
print(x % y) # Modulus (remainder) - 1
print(x ** y) # Exponentiation - 10^3 = 1000

13
7
30
3.3333333333333335
3
1

In [35]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))

print(num1 + num2)

8

### Comparison Operators

These compare values and return True or False:

In [ ]:
a = 5
b = 7

print(a == b) # Equal - False
print(a != b) # Not equal - True
print(a < b) # Less than - True
print(a > b) # Greater than - False
print(a >= 5) # Greater or equal - True
print(b <= 7) # Less or equal - True

False
True

In [3]:
print((10 - 2) * 3 / 4)

6.0