In [10]:
#please print in 3 different lines with one print command:
#todays date
#what you ate for lunch
#one thing you did over the weekend

print()

caden knows
how to do it

In [4]:
#variables
'what is this' #string
123 #integers

var_1 = 123

type(var_1)

int

In [8]:
#functions

#addition
def addition(num1, num2):
    result = num1 + num2
    return result

#call function
addition(5, 7)

12

In [17]:
my_input = input('Enter your name >')

type(my_input)

Enter your name > hello

str

In [19]:
#addition
def addition():
    num1 = int(input("Enter first number >"))
    num2 = int(input("Enter second number >"))
    
    result = num1 + num2
    return result

#call function
addition()

Enter first number > 10
Enter second number > 11

21

'1011'